/* ------ */
/* Basics */
/* ------ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #efefef;
  color: #797979;
  font-family: 'Barlow', sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}


/* ----- */
/* Links */
/* ----- */

/* ------------------------------- */
/*          CONTACT FORM           */

.contact-form {
  width: 60%;
  margin: 0 auto;
  
}


input[type=text],
input[type=email],
select,
textarea {
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

textarea {
  height: 100px;
}

input[type=checkbox] {
  margin: 10px 5px 10px 0;
}

*:focus {
  outline: none;
}


/* --------------- */
/* Breaks and Divs */
/* --------------- */

section {
  padding: 50px 0;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}

.box {
  padding: 1%;
}

/* ------ */
/* Header */
/* ------ */

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/pic2.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
  position: relative;
  text-align: center;
}

.sig {
  font-family: 'Courgette', cursive;
  color: #fff;
  font-size: 450%;
  margin-bottom: 10;
  padding-bottom: 0;
  text-shadow: -1px 0 black, 0 3px black, 3px 0 black, 0 -1px black;
}

.icon-small {
  display: inline-block;
  text-align: center;
  color: #fff;
  margin-right: 10px;    
  /*secrets to align text */
  
  font-size: 190%;
  line-height: 180%;
  vertical-align: middle;
  margin-top: -5px;
  
}

.photo {
  margin-top: -15;
  margin-bottom: 25px;
  font-family: Century Gothic;
  letter-spacing: 16px;
  font-size: 110%;
  color: #fff;
  text-transform: uppercase;
  margin-top: -12px;
}

.logo {
  margin-top: 15px;
  margin-bottom: 15px;
  float: left;
}

/* ---------- */
/* Navigation */
/* ---------- */

nav {
  overflow: auto;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px #000;
  overflow: hidden;

  list-style: none;
}

.main-nav {
  overflow: hidden;
  list-style: none;
  margin: auto;
  width: 900px;
  padding-bottom: 10px;
  text-align: right;

}
.main-nav input[type=text],
.main-nav input[type=password]{
    padding: 4px;
    margin-top: 8px;
    font-size: 12px;
    border: none;
    width: 150px; /* adjust as needed (as long as it doesn't break the topnav) */
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}

.main-nav button {
  padding: 7px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 13px;
  border: none;
  cursor: pointer;
  background: #64a19d;
  color: #fff;
  border: none;
  border-radius: 0 100px 100px 0;
}

nav li {
  display: inline-block;
  margin-left: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0;
  color: #eee;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid #fff transparent;
  transition: border-bottom 0.2s;
  border: 0;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #64a19d;   
}
.messages{
  list-style-type: none;
  color: #fff;
}

/* ----------------- */
/* Background Images */
/* ----------------- */

.background-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(resources/img/bg1.jpg);
  background-size: cover;
  background-position: center;
  height: 88.8vh;
  background-attachment: fixed;
}

.hero-text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.register {
  border: 1px solid #64a19d;
  width: 900px;
  background-color: rgba(0, 0, 0, 0.4); 
  padding: 20px;
}

.register input[type=text],
.register input[type=password]{
  padding: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 20px;
  font-size: 12px;
  border: none;
  width: 200px; /* adjust as needed (as long as it doesn't break the topnav) */
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.register button {
padding: 10px;
margin-top: 8px;
margin-right: 16px;
font-size: 13px;
border: none;
cursor: pointer;
background: #64a19d;
color: #fff;
border: none;
border-radius: 10px 100px 100px 10px;
}

/* ------- */
/* Buttons */
/* ------- */

.btn:link,
.btn:visited,
input[type=submit] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited, 
input[type=submit]:hover,
input[type=submit]:active {
  background-color: #64a19d;
  border: 1px solid #64a19d;
  color: #fff;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #937f66;
  color: #fff;
}

.btn:hover,
.btn:active,
input[type=submit] {
  background-color: #64a19d;
}


.btn-full:hover,
.btn-full:active {
  border: 1px solid #64a19d;

  
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #937f66;
  color: #fff;
}

/* ----------------------- */
/* Headings and Paragraphs */
/* ----------------------- */
h1,
h2 {
  font-weight: 300;
  text-transform: uppercase;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 30px;
}

h2:after {
  display: block;
  height: 2px;
  background-color: #64a19d;
  content: " ";
  margin: 0 auto;
  margin-top: 15px;
  width: 80%
}
.sig:after {
  margin: 0;
  padding-bottom: 0;
}
.photo:after {
  display: block;
  height: 2px;
  background-color: #fff;
  content: " ";
  width: 80%;
  margin: 0 auto;
  margin-top: 3px;
}

h3 {
  color: #fff;
  font-size: 140%;
  font-weight: 700;
  letter-spacing: 3px;
}

.location {
  position: absolute;
  bottom: 8px;
  left: 16px;
  margin-bottom: 100px;
  margin-left: 100px;
}

.date {
  color: #FFF;
  text-align: left;
}

/* ---- */
/* Maps */
/* ---- */

.map {
  width: 100%;
  height: 425px;
  position: relative;
  z-index: 0;
}

.map-box {
  width: 100%;
  height: 500px;
  position: relative;
}

.form-box {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 10;
  height: 425px;
  width: 50%;
  padding-top: 40px;
}

/* ------------ */
/* Contact Form */
/* ------------ */

.contact-form {
  width: 90%;
  margin: 0 auto;
  
}


input[type=text],
input[type=email],
select,
textarea {
  width: 100px;
  padding: 50px;
  border-radius: 3px;
  border: 1px solid #ccc;
  
}

textarea {
  height: 100px;
}

input[type=checkbox] {
  margin: 10px 5px 10px 0;
}

*:focus {
  outline: none;
}

/* ----- */
/* Icons */
/* ----- */

.icon-big{
  font-size: 350%;
  display: inline-block;
  color: #64a19d;
  margin-bottom: 10px;
}

/* ------ */
/* Footer */
/* ------ */

footer {
  background-color: #888;
}


/* --------- */
/* Slideshow */
/* --------- */

.cb-slideshow,
.cb-slideshow:after { 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0; 
}
.cb-slideshow:after { 
  content: '';
  background: transparent url(../images/pattern.png) repeat top left; 
}